<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461387793961-pno7hl2fltf3l13ceisllb51l437gf9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461387793961-pno7hl2fltf3l13ceisllb51l437gf9g</string>
	<key>API_KEY</key>
	<string>AIzaSyCNo8B3211bqDqGvE7WLbmfPu-feJ2waZA</string>
	<key>GCM_SENDER_ID</key>
	<string>461387793961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>az.caspa</string>
	<key>PROJECT_ID</key>
	<string>caspaaz</string>
	<key>STORAGE_BUCKET</key>
	<string>caspaaz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461387793961:ios:96908c98fcab6498fdbe38</string>
</dict>
</plist>